mlflow==2.15.1
mlflow-skinny==2.15.1
email-validator==2.2.0
feast==0.40.1
feast[aws]
feature_engine==1.8.2
shap==0.46.0
xgboost==2.1.1
lightgbm==4.5.0
imbalanced-learn==0.12.4
python-dotenv==1.0.1
pyarrow==15.0.2